<section id="contact-page">
    <div class="red">
        <div class="icon lg" (click)="goHome()">
            <i class="fa-solid fa-chevron-left"></i>
        </div>
        <div class="title">
            <h1>Restaurante</h1>
            <h2>San</h2>
            <h2>Roque</h2>
        </div>
        <div class="buttons">
            <app-button label="Llamar" class="white" link="tel:979607181" [isLink]="true"></app-button>
            <small>Diseño y desarrollo:</small>
            <small>MFi, S.L.</small>
        </div>
    </div>
</section>