<nav>
    <div class="icon lg bkg" (click)="goHome()">
        <i class="fa-solid fa-chevron-left"></i>
    </div>
    <div class="fix">
        <span *ngIf="title" class="title">{{title}}</span>
        <!-- <figure>
            <img src="https://res.cloudinary.com/sanroque/image/upload/v1652708739/web/u9u674cdbbxew8nbrcyd.svg" alt="San Roque Logo">
        </figure> -->
        <app-button *ngIf="buttonLabel" [label]="buttonLabel" class="go" (click)="navigate(buttonLink)"></app-button>
    </div>
</nav>