<div class="home">
    <div class="brand">
        <h1>Restaurante</h1>
        <figure>
            <img src="https://res.cloudinary.com/sanroque/image/upload/v1652708739/web/u9u674cdbbxew8nbrcyd.svg" alt="San Roque Logo">
        </figure>
        <div class="buttons">
            <app-button label="Carta" class="main" (click)="navigate('/carta')"></app-button>
            <app-button label="Vinos" class="main" (click)="navigate('/vinos')"></app-button>
            <app-button label="Menú del día" class="main" (click)="navigate('/menu-del-dia')"></app-button>
        </div>
    </div>
</div>