@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@300;600;800&display=swap");
:root {
  --main: #915353;
  --secondary: #539191;
  --text: #514c4b;
  --light-grey: #c1c1c1e6;
  --grey: #c1c1c1;
}
* {
  padding: 0;
  margin: 0;
}
//https://res.cloudinary.com/sanroque/image/upload/v1687890637/bkg1.png
body {
  position: relative;
  font-family: "Saira Semi Condensed", sans-serif;
  color: var(--text);
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  z-index: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  &::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("https://res.cloudinary.com/sanroque/image/upload/v1687890637/bkg1.png");
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.5;
    z-index: -1;
    @media (max-width: 991px) {
      background-size: cover;
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

main {
  // height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &::-webkit-scrollbar {
    display: none;
  }
}

button {
  background: transparent;
  border: none;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  &.sm {
    width: 12px;
    min-width: 12px;
    min-height: 12px;
    height: 12px;
    max-width: 12px;
    max-height: 12px;
    i,
    svg {
      font-size: 10px;
      line-height: 12px;
    }
  }
  &.md {
    width: 16px;
    min-width: 16px;
    min-height: 16px;
    height: 16px;
    max-width: 16px;
    max-height: 16px;
    i,
    svg {
      font-size: 14px;
      line-height: 16px;
    }
  }
  &.lg {
    width: 24px;
    min-width: 24px;
    min-height: 24px;
    height: 24px;
    max-width: 24px;
    max-height: 24px;
    i,
    svg {
      font-size: 16px;
      line-height: 24px;
    }
  }
  i,
  svg {
    color: var(--main);
  }
  &.bkg {
    background-color: var(--main);
    i,
    svg {
      color: white;
    }
  }
}
