:host {
  width: 100%;
  display: block;
}
#carta {
  padding: 24px 20px;
  min-height: 80vh;
  padding-top: 120px;
  display: flex;
  flex-direction: column;

  .menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .filter {
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 30px 0;
  }
}
