:host {
  width: 100%;
  display: block;
}
#carta {
  min-height: 80vh;
  padding-top: 140px;
  display: flex;
  flex-direction: column;

  .menu {
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .filter {
    display: flex;
    gap: 6px;
    align-items: center;
    overflow: scroll;
    padding-left: 20px;
    position: sticky;
    top: 130px;
    padding-right: 20px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
